{namespace kiddogViewHelper=Tx_KiddogNews_ViewHelpers}
<f:layout name="default" />
<f:section name="content">
    <div class="tx_kiddognews-post-edit">
        <h4>Edit Post</h4>
        <f:form method="post" controller="Post" action="update" name="editPost" object="{post}">
            <label for="type">
                Type
            </label>
            <f:form.select property="type" options="{type}" optionValueField="uid" optionLabelField="label" />
            <div>
                <label for="author">
                    Author
                </label><br/>
                <f:form.textbox property="author" />
            </div>
            <div>
                <label for="date">
                    Date
                </label><br/>
                <f:form.textbox property="date" value="{date}" />
            </div>
            <div>
                <label for="title">
                    Title <span class="required">(required)</span>
                </label><br/>
                <f:form.textbox property="title" />
            </div>
            <div>
                <label for="post">
                    Content <span class="required">(required)</span>
                </label><br/>
                <f:form.textarea property="post" rows="8" cols="46" />
            </div><f:form.submit class="submit" value="Submit"/>
        </f:form>
    </div>
	
	<!-- comments -->
	<f:render partial="postComments" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	
	<!-- files -->
   	<f:render partial="postFiles" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	
	<!-- links -->
   	<f:render partial="postLinks" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	
	<!-- related posts -->
   	<f:render partial="postRelatedPosts" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	
	<!-- END -->	
</f:section>