<f:layout name="default" />

<f:section name="content">
	<f:render partial="postFeEditingMenu" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	<div class="tx_kiddognews-post-showsingle">

		<h2>{post.title}</h2>
		
		<f:format.date>{post.date}</f:format.date>
				
		<f:render partial="postTags" arguments="{post:post}"/>
		<f:render partial="postCategories" arguments="{post:post}"/>
		<f:if condition="{post.author}">		
			<p><b>Author</b>: {post.author}</p>		
		</f:if>
		<p>{post.post}</p>
		<f:for each="{post.images}" as="image">
			<f:image src="uploads/tx_kiddognews/{image.image}" alt="{image.alt}" title="{image.title}" width="430"></f:image>
		</f:for>
		<f:render partial="postFiles" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
		<f:render partial="postLinks" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>	
		<f:render partial="postRelatedPosts" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
		<f:render partial="postComments" arguments="{post:post,isFeEditingAllowed:isFeEditingAllowed}"/>
	</div>
</f:section>