<div class="tx_kiddognews-partial-menu">
	<ul>
		<li>
			<f:link.action action="showLatest" controller="Post">Show Latest</f:link.action>
		</li>
		<li>
			<f:link.action action="showList" controller="Post">Show List</f:link.action>
		</li>	
		<li>
			<f:link.action action="showArchiv" controller="Post">Show Archiv</f:link.action>
		</li>
		<li>
			<f:link.action action="showRSS" controller="Post">Show RSS</f:link.action>
		</li>
		<li>
			<f:link.action action="edit" controller="Category">Edit Category</f:link.action>
		</li>
		<li>
			<f:link.action action="new" controller="Post">
				<img src="typo3/sysext/t3skin/icons/gfx/new_record.gif" alt="New Post"/>
			</f:link.action>
		</li>	
	</ul>
</div>