<f:if condition="{post.relatedPosts}">
	<h3>RelatedPosts:</h3> 
	<ul>
		<f:for each="{post.relatedPosts}" as="relatedPost">
			<f:if condition="{isFeEditingAllowed}">
			    <div class="tx_kiddognews-post-postFeEditingMenu">
			        <label>
			            Frontend-Editing:
			        </label>
			        <ul>
			            <li>
			                <f:link.action action="edit" controller="Post" arguments="{post:relatedPost}">
			                    <img src="typo3/sysext/t3skin/icons/gfx/edit2.gif" alt="edit Link"/>
			                </f:link.action>
			            </li>
			            <li>
			                <f:link.action action="delete" controller="Post" arguments="{post:relatedPost}">
			                    <img src="typo3/sysext/t3skin/icons/gfx/garbage.gif" alt="delete Link"/>
			                </f:link.action>
			            </li>
			        </ul>
			    </div>	
			</f:if>				
			<li>
				<f:format.date>{relatedPost.date}</f:format.date>
				<f:link.action arguments="{post:relatedPost}" action="showSingle" controller="Post">
					{relatedPost.title}
				</f:link.action>	
			</li>
		</f:for>
	</ul>
</f:if>