<f:layout name="default" />
<f:section name="content">
    <h1> Root-Tree</h1>
    <f:form method="post" controller="Category" action="update" name="allCategory" object="{category}">
    <f:render partial="categoryMenuTree" arguments="{allCategories:allCategories,rootCategorie:rootCategorie}"/>
	<div>
	    <label for="title">
	        Title <span class="required">(required)</span>
	    </label>
	    <f:form.textbox property="name" />
    </div>
	
    <div>
        <label for="name">
            Description
        </label>
		<f:form.textarea rows="8" cols="8" property="description" />
    </div>
	<f:form.submit class="submit" value="Submit"/>
</f:form>
</f:section>